<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="center-block text-center" style="font-family: 'Tangerine'; max-width: 600px;">
				<h1>Created to create ...</h1>
				<div class="embed-responsive embed-responsive-16by9">
					<iframe allowfullscreen="" src="//www.youtube.com/embed/9iHxfmQyPrc?rel=0" class="embed-responsive-item"></iframe>
				</div>
				<blockquote style="font-size: 34px;">
				  <p>... Whatever you do,
				be creative,
				do it a new way.
				Continue to explore the unknown.
				Be an innovator, invent,
				discover, create something
				because God is the Creator
				and each time that you are creative,
				you come closer to Him.
				Each time that you are creative,
				God creates within you... - Unknown</p>
				</blockquote>
			</div>
		</div>
	</div>
</div>