/******************* containers *********************/
#plaque-container {
	text-align: center;
}
#work-container {
	padding: 20px;
	text-align: center;
	background: url("../img/wall/graphy.png") right top;
	-moz-box-shadow:inset 0px -0px 10px #000000;
	-webkit-box-shadow:inset 0px -0px 10px #000000;
	box-shadow:inset 0px -0px 10px #000000;	
}

#credits-container {
	font-size: 0.7em;
	margin-bottom: -10px;
}

.plaque {
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
	color: #000000;
    font-weight:bolder;
    
    -moz-box-shadow: 0px -1px 10px #000000;
    -webkit-box-shadow: 0px -1px 10px #000000;
    box-shadow: 0px -1px 10px #000000;
	
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;  
}

ul.columns {
	list-style-type: none;
	padding: 0px;
}

ul.columns li {
	display: inline-block;
	vertical-align:top;
}

ul.headers {
	list-style-type: none;
	margin-bottom: 0px;
	padding: 0px;
}

ul.headers li {
	display: inline-block;
	cursor:move;
	width: 100px;
}

ul.items {
	list-style-type: none;
	padding: 0px;
}

ul.items li{
	padding-top: 10px;
	display: block;
}

.item {
    width:100px;
    height: 100px;
	position:relative;
	display: table;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 5px;
	-moz-box-shadow: 0px 0px 5px #000000;
    -webkit-box-shadow: 0px 0px 5px #000000;
    box-shadow: 0px 0px 5px #000000;
    background-color: #C09853;
}

.item-control {
	position: absolute;
	top: 0px;right: 0px;
}

.item-content {
    display: table-cell;
    vertical-align: middle;
	height:100%;
	color: #000000;
	font-weight: bold;
}

.item-rect {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: url("../img/plaque/purty_wood.png") no-repeat right top;
    background-size: cover;
}

.item-round {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: url("../img/disk/default.jpg") no-repeat right top;
    background-size: cover;
}

.item-round div {
    font-size:13px;
    line-height: normal;
}

[contenteditable=true] {
	background-color:rgba(0, 0, 0, 0.3)
	/*background-color:rgba(255, 255, 255, 0.5)*/
}

button.icon-btn {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    cursor: pointer;
    padding: 0;
}

.icon-btn {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    opacity: 0.2;
    text-shadow: 0 1px 0 #fff;
}

.icon-btn:focus, .icon-btn:hover {
    color: #000;
    cursor: pointer;
    opacity: 0.5;
    text-decoration: none;
}

.product-grid {
	font-size: 0.7em;
}

.thumb {
	-moz-box-shadow: 0px 0px 5px #000000;
    -webkit-box-shadow: 0px 0px 5px #000000;
    box-shadow: 0px 0px 5px #000000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;	
}
