<div id="month1" class="col-md-1 column">
</div>
<div id="month2" class="col-md-1 column">
</div>
<div id="month3" class="col-md-1 column">
</div>
<div id="month4" class="col-md-1 column">
</div>
<div id="month5" class="col-md-1 column">
</div>
<div id="month6" class="col-md-1 column">
</div>
<div id="month7" class="col-md-1 column">
</div>
<div id="month8" class="col-md-1 column">
</div>
<div id="month9" class="col-md-1 column">
</div>
<div id="month10" class="col-md-1 column">
</div>
<div id="month11" class="col-md-1 column">
</div>
<div id="month12" class="col-md-1 column">
</div>