<div class="btn-group">
  <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    New <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
  	<% _.each(newmenu, function(item){ %>
  		<li id="<%= item.id %>">
  			<a class="<%= item.cssclass %>" role="<%= item.role %>" data-id="<%= item.data %>" href="<%= item.href %>"><%= item.text %></a>
  		</li>
  	<% })%>
  </ul>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    File <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
  	<% _.each(filemenu, function(item){ %>
  		<li id="<%= item.id %>">
  			<a href="<%= item.href %>"><%= item.text %></a>
  		</li>
  	<% })%>
  </ul>
</div>
<button type="button" id="preview" class="btn btn-primary btn-sm">Preview</button>

<div class="select-wall" style="position: fixed; bottom: 50px; right: 10px;"></div>

<a type="button" id="order" class="btn btn-primary btn-sm pull-right" href="#order">
	Order <span aria-hidden="true" class="glyphicon glyphicon-shopping-cart"></span>
</a>

<button type="button" id="save" class="btn btn-primary btn-sm pull-right">
	Quick <span aria-hidden="true" class="glyphicon glyphicon-floppy-disk"></span>
</button>