<div class="btn-group">
  <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    File <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li id="new"><a href="#">New</a></li>
    <li id="load"><a href="#">Open...</a></li>
    <li id="saveas"><a href="#">Save As...</a></li>
    <li id="export2png"><a href="#">Export as PNG ...</a></li>
    <li id="export2json"><a href="#">Export as JSON ...</a></li>
    <li id="importJson"><a href="#">Import from JSON ...</a></li>
  </ul>
</div>
<button type="button" id="preview" class="btn btn-primary btn-sm pull-right">Preview</button>
<button type="button" id="order" class="btn btn-primary btn-sm">Order</button>
<button type="button" id="save" class="btn btn-primary btn-sm">Save</button>