<div class="bbm-modal__topbar">
	<h3 class="bbm-modal__title">Open saved products</h3>
</div>
<div class="bbm-modal__section">
	<div class="product-grid">
		<div class="container-fluid">
			  <div class="row">
				  <div class="col-md-6 grid"></div>
				  <div class="col-md-6 preview"></div>
			  </div>
			  <div class="row">
				  <div class="col-md-12 paginator">paginator</div>
			  </div>
		</div>
	</div>
</div>
<div class="bbm-modal__bottombar">
	<button title="Save changes" type="button" class="btn-cancel btn btn-default btn-sm">Cancel</button>
	<button title="Save changes" type="button" class="btn-submit btn btn-primary btn-sm">Open</button>
</div>