<div class="bbm-modal__topbar">
	<h3 class="bbm-modal__title">Plaque</h3>
</div>
<div class="bbm-modal__section">
<form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
        <input type="email" class="form-control" id="title" placeholder="header" value="<%= title %>">
    </div>
  </div>
<div class="form-group">
    <label for="wood" class="col-sm-2 control-label">Wood</label>
    <div class="col-sm-10">
		<select id="selectWood" class="form-control input-sm">
			<% _.each(woodTypes, function(w) { %>
				<option <%= ((w==wood)?'selected':'') %>> <%= w %></option>
			<% }) %>
		</select>
    </div>
  </div>
  <div class="form-group">
    <label for="width" class="col-sm-2 control-label">Width</label>
    <div class="col-sm-10">
        <input type="number" class="form-control" id="width" placeholder="width(mm)..." value="<%= width %>">
    </div>
  </div>
  <div class="form-group">
    <label for="height" class="col-sm-2 control-label">Height</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="height" placeholder="height(mm)..." value="<%= height %>">
    </div>
  </div>
</form>
</div>
<div class="bbm-modal__bottombar">
	<button title="Save changes" type="button" class="btn-submit btn btn-primary btn-sm">Save</button>
</div>