<!--div class="btn-group pull-right">
  <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Select wood <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div-->
<form class="form-inline">
<select id="selectWood" class="form-control input-sm pull-right">
	<% _.each(woodTypes, function(w) { %>
		<option <%= ((w==wood)?'selected':'') %>> <%= w %></option>
	<% }) %>
</select>
<button id="addColumn" type="button" class="btn btn-success btn-xs pull-right">Add column</button>
</form>

<h1><%= title %></h1>
<ul class="headers"></ul>