<h1>Aniversarile familiei</h1>
<div class="row clearfix">
	<div class="col-md-1 column">
		Ianuarie
	</div>
	<div class="col-md-1 column">
		Februarie
	</div>
	<div class="col-md-1 column">
		Martie
	</div>
	<div class="col-md-1 column">
		Aprilie
	</div>
	<div class="col-md-1 column">
		Mai
	</div>
	<div class="col-md-1 column">
		Iunie
	</div>
	<div class="col-md-1 column">
		Iulie
	</div>
	<div class="col-md-1 column">
		August
	</div>
	<div class="col-md-1 column">
		Septembrie
	</div>
	<div class="col-md-1 column">
		Octombrie
	</div>
	<div class="col-md-1 column">
		Noiembrie
	</div>
	<div class="col-md-1 column">
		Decembrie
	</div>
</div>
