<form class="form-inline">
<select id="selectWood" class="form-control input-sm pull-left">
	<% _.each(woodTypes, function(w) { %>
		<option <%= ((w==wood)?'selected':'') %>> <%= w %></option>
	<% }) %>
</select>
<button id="addColumn" title="Add new column" type="button" class="close"><span aria-hidden="true" class="glyphicon glyphicon-plus"></span></button>
<button id="editPlaque" type="button" class="close"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></button>
</form>
<br />
<h1><%= title %></h1>
<ul class="headers"></ul>