<div class="bbm-modal__topbar">
	<h3 class="bbm-modal__title">Plaque</h3>
</div>
<div class="bbm-modal__section">
<form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3" placeholder="header" value="<%= title %>">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Width</label>
    <div class="col-sm-10">
        <input type="number" class="form-control" id="inputEmail3" placeholder="width(mm)..." value="<%= width %>">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Height</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="inputEmail5" placeholder="height(mm)...">
    </div>
  </div>
</form>
</div>
<div class="bbm-modal__bottombar">
	<button title="Save changes" type="button" class="btn-submit btn btn-primary btn-sm">Save</button>
</div>