<div class="bbm-modal__topbar">
	<button type="button" class="close btn-cancel" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h3 class="bbm-modal__title">Item</h3>
</div>
<div class="bbm-modal__section">
<form id="item-edit-form" class="form-horizontal" action="php/upload.php" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="line1" class="col-sm-2 control-label">Line 1</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="line1" placeholder="line 1..." value="<%= line1 %>">
    </div>
  </div>
  <div class="form-group">
    <label for="line2" class="col-sm-2 control-label">Line 2</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="line2" placeholder="line 2..." value="<%= line2 %>">
    </div>
  </div>
<div class="form-group">
    <label for="shape" class="col-sm-2 control-label">Shape</label>
    <div class="col-sm-10">
		<select id="shape" class="form-control input-sm">
			<% _.each(shapeTypes, function(s) { %>
				<option <%= ((s==shape)?'selected':'') %>> <%= s %></option>
			<% }) %>
		</select>
    </div>
  </div>
<div class="form-group">
    <label for="wood" class="col-sm-2 control-label">Wood</label>
    <div class="col-sm-10">
		<select id="wood" class="form-control input-sm">
			<% _.each(woodTypes, function(w) { %>
				<option <%= ((w==wood)?'selected':'') %>> <%= w %></option>
			<% }) %>
		</select>
    </div>
  </div> 
  <div class="form-group">
    <label for="image-url" class="col-sm-2 control-label">Image</label>
    <div class="col-sm-10">
		<ul class="nav nav-tabs">
			<!--li role="presentation" class="<%=(fileSource == 'url')?'active':''%>"><a class="image-url-tab">URL</a></li>
			<li role="presentation" class="<%=(fileSource == 'file')?'active':''%>"><a class="image-file-tab">Upload</a></li>
			<li role="presentation" class="<%=(fileSource == 'browse')?'active':''%>"><a class="image-browse-tab">Browse</a></li>
		</ul>
        <input type="text" class="form-control" id="image-url" placeholder="image url..." value="<%= image %>">
		<input type="file" class="form-control" id="image-file" name="image-file" style="display: none; padding: 0px;"-->
        <input type="text" class="form-control" id="image" placeholder="image url..." value="<%= image %>">
    </div>
  </div>
  <div class="form-group">
    <label for="width" class="col-sm-2 control-label">Width</label>
    <div class="col-sm-10">
        <input type="number" class="form-control" id="width" placeholder="width(mm)..." value="<%= width %>">
    </div>
  </div>
  <div class="form-group">
    <label for="height" class="col-sm-2 control-label">Height</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="height" placeholder="height(mm)..." value="<%= height %>">
    </div>
  </div>
</form>
</div>
<div class="bbm-modal__bottombar">
	<button title="Save changes" type="button" class="btn-cancel btn btn-default btn-sm">Cancel</button>
	<button title="Save changes" type="button" class="btn-submit btn btn-primary btn-sm">Save</button>
</div>